body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    width: 1440px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
header{
    background-color: #FFFFFF;
    display: flex;
    padding: 24px 156px;
    width: 1440px;
    border-bottom: 1px solid #E7E9FC;
}
.nav-block{
    display: flex;
    gap: 76px;
    margin-right: 332px;
}
.ul-block{
    display: flex;
    gap: 40px;
}


nav>a{
    text-decoration: none;
}
nav>ul{
    list-style-type: none;
}
address>ul{
    list-style-type: none;
}
.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio{
        color: #2E2F42;
        font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.54px;
}
.studio-two{
    color: #F4F4FD;
        font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.54px;
}
.nav-link{
        color: #2E2F42;
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:active{
    color: red;
}
.nav-link:focus{
    color: #404bbf;
}
.header-address{
    font-style: normal;
}
.address{
        color: #434455;
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
}
.address:hover{
    color: #404bbf;
}
.address:active{
    color: red;
}
.address:focus{
    color: #404bbf;
}


.cont-one{
    background-color: #2e2f42;
    padding: 188px 472px;
    text-align: center;
}

.title-site{
    background-color: #2E2F42;
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
}
.title-button{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.64px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
        padding: 16px 32px;
        margin-top: 48px;
        
        

}
.title-button:hover{
    background-color: #404bbf;
}
.title-button:focus{
    background-color: #404bbf;
}

.section-two{
    background-color: #FFFFFF;
    padding: 120px 156px;
}
.section-two-list{
    display: flex;
    gap: 24px;
}
.section-two>ul{
    list-style-type: none;
}

.sections-title{
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
        text-transform: capitalize;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 72px;
}
.section-two-list-title{
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.4px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
        color: #2E2F42;
        margin-top: 32px;
        margin-bottom: 0;
}
.section-two-list-text{
    font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        font-variation-settings: "wdth" 100;
        text-decoration: none;
        color: #434455;
        margin-top: 8px;
        margin-bottom: 32px;
}     
.section-three{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.section-three-container-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-three>ul{
    list-style-type: none;
}
.section-three-list{
    background-color: #FFFFFF;


}
.section-four{
    background-color: #FFFFFF;
}
.section-four>ul{
    list-style-type: none;
}
footer>a{
    text-decoration: none;
}
.footer{
    background-color: #2E2F42;
}

.footer-p{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}